<h2 mat-dialog-title color="primary">Fail2Ban
  <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the auto-focus behavior -->
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</h2>
<mat-dialog-content
  fxLayout="column"
  fxFlexAlign="center">
  <button mat-button (click)="serviceStatus()" [disabled]="!service.installed">Status</button>

  <div class="mat-spinner-wrapper">
    <button mat-button (click)="serviceStop()" [disabled]="!service.installed" *ngIf="!loading.stop">Stop</button>
    <mat-spinner [diameter]="spinner_diam" *ngIf="loading.stop"></mat-spinner>
  </div>
  <div class="mat-spinner-wrapper">
    <button mat-button (click)="specialLog(service.name)"
            [disabled]="!service.installed || special_data.indexOf(service.name) == -1"
            *ngIf="!loading.log">Log</button>
    <mat-spinner [diameter]="spinner_diam" *ngIf="loading.log"></mat-spinner>
  </div>
  <div class="mat-spinner-wrapper">
    <button mat-button (click)="serviceInstall()" *ngIf="!loading.install && !service.installed">Install</button>
    <button mat-button (click)="serviceUninstall()" *ngIf="!loading.install && service.installed">Uninstall</button>
    <mat-spinner [diameter]="spinner_diam" *ngIf="loading.install"></mat-spinner>
  </div>
</mat-dialog-content>
<mat-card class="error-box" *ngIf="error">
  <div class="mat-subheading-2">{{error}}</div>
</mat-card>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>

