@import 'variables';

.server-services {
  width: 100%;
  display: grid;
  align-content: stretch;

  .service{
    text-align: center;
    margin: 5px;
  }

  .icon-status-active {
    color: $success-green;
  }

  .service-card-content {
    margin-bottom: 0px;
  }
  .mat-card {
    padding: 14px;
  }
  .mat-card-actions {
    padding: 0;
    padding-bottom: 5px;
  }
  .mat-card-header {
    display: flex;
    justify-content: center;
  }
}
