<div class="table-empty-msg" *ngIf="show_cli_install && dataSource.is_empty.getValue()">
  <div class="table-empty-msg-text">
    <h2 class="mat-h2">No servers found</h2>
    <h3 class="mat-h3">To activate CodiusMonitor, please install the client software on your server/s.</h3>
  </div>
  <button mat-raised-button routerLink="/panel/client" color="primary">Install</button>
</div>
<div class="table-empty-msg"
     fxLayout
     fxLayoutAlign="center center"
     *ngIf="!show_cli_install && dataSource.is_empty.getValue()">
    <mat-spinner></mat-spinner>
</div>
<div>
  <mat-table #table
             [dataSource]="dataSource"
             [trackBy]="trackByIndex"
             multiTemplateDataRows
             matSort
             aria-label="Elements">
    <ng-container matColumnDef="hostname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hostname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.hostname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Online</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.active" class="online-icon">lens</mat-icon>
        <mat-icon *ngIf="!row.active" color="warn">error</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="services-all-status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Services</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.services | servicesStatus" class="online-icon">check_circle</mat-icon>
        <mat-icon *ngIf="!(row.services | servicesStatus)" color="warn">error</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="server-load">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Memory</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{row.codius.memory.used | mbToGb}}/{{row.codius.memory.total | mbToGb}} Gb</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contracts-running">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contracts</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{row.codius.contracts_active? row.codius.contracts_active : 0}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dropdown-ico">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon>expand_more</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <!--<ng-container matColumnDef="expandedDetail">-->
      <!--<mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">-->
        <!--<div [@detailExpand]="isExpanded(row)">-->
          <!--<mat-grid-list [cols]="breakpoint" rowHeight="16rem" (window:resize)="onResize($event)">-->
            <!--<mat-grid-tile [colspan]="breakpoint === 1 ? 1:2" [rowspan]="1" [style.background]="null">-->
              <!--<app-server-details [services]="row.services" [hostname]="row.hostname"></app-server-details>-->
            <!--</mat-grid-tile>-->
            <!--<mat-grid-tile [colspan]="breakpoint === 1 ? 1:4" [rowspan]="breakpoint === 1 ? 1.5:1" [style.background]="null">-->
              <!--<app-server-codius-info [server]="row"></app-server-codius-info>-->
            <!--</mat-grid-tile>-->
          <!--</mat-grid-list>-->
          <!--<div fxLayout="row" class="extra-services-row">-->
            <!--<app-extra-services [extra_services]="row.extra_services? row.extra_services : null"-->
              <!--[hostname]="row.hostname"-->
              <!--[hyperd]="row.codius.hyperd"></app-extra-services>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        [routerLink]="element.hostname">
        <!--(click)="expandRow(element)">-->
    </mat-row>
    <!--<mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>-->
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[20, 50, 100]">
  </mat-paginator>
  <app-ws-status [message]="monitorService.ws_status"></app-ws-status>
</div>
