<mat-card>
  <mat-card-content>
    <div class="installation">
      <div class="mat-subheading-2">Installation:</div>
      <div class="mat-body-1">1. Click <div class="code-text">Get Link</div> below</div>
      <div class="mat-body-1">2. Wait for build to be ready</div>
      <div class="mat-body-1">2. Execute the installer command on your server</div>
      <div class="mat-subheading-2">Installation(manual):</div>
      <div class="mat-body-1">1. Upload to your codiusd server</div>
      <div class="mat-body-1">2. Give it execution rights: <div class="code-text">chmod +x cmoncli</div></div>
      <div class="mat-body-1">3. Follow 'Systemd service' instructions<div class="code-text"></div></div>
    </div>
    <div class="systemd-service">
      <div class="mat-subheading-2">Systemd service:</div>
      <div class="mat-body-1">1. <div class="code-text">touch /usr/lib/systemd/system/cmoncli.service</div></div>
      <div class="mat-body-1">2. Paste following content:</div>
      <mat-form-field appearance="fill" class="log-field">
        <textarea matInput [rows]="12" [cols]="50">{{service_text}}</textarea>
      </mat-form-field>
      <div class="mat-body-1">3. <div class="code-text">cp cmoncli /usr/bin/cmoncli</div></div>
      <div class="mat-body-1">4. <div class="code-text">systemctl daemon-reload</div></div>
      <div class="mat-body-1">5. <div class="code-text">systemctl start cmoncli</div></div>
      <div class="mat-body-1">6. <div class="code-text">systemctl enable cmoncli</div></div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button *ngIf="!loading" mat-raised-button color="accent" (click)="download()">Download</button>
    <button *ngIf="!loading" mat-raised-button color="accent" (click)="getLink()">Get Link</button>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card-actions>
  <div *ngIf="cli_link">
    <div class="mat-subheading-2">Installer:</div>
    <div class="mat-subheading-2"><div class="code-text">{{installer_link}}</div></div>
  </div>
  <div *ngIf="cli_link">
    <div class="mat-subheading-2">Client file(manual installation):</div>
    <div class="mat-subheading-2"><div class="code-text">{{cli_link}}</div></div>
  </div>

</mat-card>
<a class="download-link" #downloadLink></a>
