@import 'variables';

.grid-container {
  margin: 20px;
}

.dashboard-card {
  /*position: absolute;*/
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      margin-bottom: 0px;
      margin-right: 7px;
    }
    mat-icon {
      margin-right: 7px;
    }
  }
}

.icon-status-active {
  color: $success-green;
}
.spinner-wrapper {
  min-height: 60vh;
}

//custom cards
app-server-codius-info {
  flex: 1;
  height: 100%;
}
app-extra-services {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
}
