<div class="grid-container mat-typography" *ngIf="server">
  <div class="dashboard-header-row">
    <button mat-icon-button [routerLink]="['../']"><mat-icon>arrow_back</mat-icon></button>
    <div>
      <mat-icon *ngIf="server.hostname" class="icon-status-active">lens</mat-icon>
      <h1>{{server.hostname}}</h1>
    </div>
  </div>
  <mat-grid-list [cols]="breakpoint" rowHeight="4rem" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="breakpoint === 1 ? 1:2" [rowspan]="4">
      <app-server-details [services]="server.services" [hostname]="server.hostname"></app-server-details>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="breakpoint === 1 ? 1:4" [rowspan]="4">
      <app-server-codius-info [server]="server"></app-server-codius-info>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="breakpoint === 1 ? 1:6" [rowspan]="1">
      <mat-card class="dashboard-card extra-services">
        <app-extra-services style="margin: -15px;"
                            [extra_services]="server.extra_services? server.extra_services : null"
                            [hostname]="server.hostname"
                            [hyperd]="server.codius.hyperd"></app-extra-services>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="breakpoint === 1 ? 1:6" [rowspan]="breakpoint === 1 ? 9:4.3">
      <mat-card class="dashboard-card">
          <app-services-stats [hostname]="hostname" *ngIf="hostname"></app-services-stats>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="spinner-wrapper"
     fxLayout
     fxLayoutAlign="center center"
     *ngIf="!server">
  <mat-spinner></mat-spinner>
</div>
