@import 'variables';
@import "theme";

.variables-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  h2 {
    margin: 0px;
  }
}

.mat-table-md {
  display: block;
  .mat-row-md,
  .mat-header-row-md {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $grey-background-stronger;
    align-items: center;
    min-height: 36px;
    padding: 0 5px;
    .delete-col {
      text-align: end;
    }
  }

  .mat-cell-md,
  .mat-header-cell-md {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 16px;
    .test-success {
      color: $success-green;
    }
    mat-icon {
      @include md-icon-size(13px);
      margin: 5px 0 5px 0;
    }
  }

  .disabled-row {
    background: $grey-background;
  }
}

.data-field {
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

.buttons {

}
