@import '~@angular/material/theming';

$success-green: mat-color($mat-green, 400);
$error-red: mat-color($mat-red, 400);
$mat-deep-purple-light: mat-palette($mat-deep-purple, 100);
$grey-background: mat-color($mat-gray, 100);
$grey-background-stronger: mat-color($mat-gray, 300);
$breakpoint-large: 1024px;
