@import 'variables';
@import 'theme';

table {
  width: 100%;
}

.main-wrapper {
  box-shadow: none !important;
}

mat-row.example-detail-row {
  min-height: 0;
  background: $grey-background;
}

mat-row.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  //min-width: 80px;
  //border: 2px solid black;
  //padding: 8px;
  //font-weight: lighter;
  //margin: 8px 0;
  //height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}
mat-cell {
  display: flex;
  justify-content: center;
  margin-right: 12px;
}
.online-icon {
  color: $success-green;
}

.extra-services-row {
  margin: 5px 0px 5px 0px;
  //background: mat-color($panel-app-primary, 50);
}

app-extra-services {
  flex: 1;
}
app-server-codius-info {
  flex: 1;
  //super bad solution! Here and container in codius-info
  height: 94.5%;
}
