<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource"
             multiTemplateDataRows
             matSort
             aria-label="Elements">

    <ng-container matColumnDef="hostname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hostname</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.hostname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Online</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.active" class="online-icon">lens</mat-icon>
        <mat-icon *ngIf="!row.active" color="warn">error</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="services-all-status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Services</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.services | servicesStatus" color="accent">check_circle</mat-icon>
        <mat-icon *ngIf="!(row.services | servicesStatus)" color="warn">error</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
          <app-server-details [services]="row.services"></app-server-details>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = element">
    </mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[20, 50, 100]">
  </mat-paginator>
</div>
<app-ws-status [message]="monitorService.ws_status"></app-ws-status>
