<div class="variables-header" fxLayout='row'>
  <h2 class="mat-h2" mat-dialog-title="">Codiusd version: {{codius.version}}</h2>

  <div class="buttons">
    <button mat-button style="height: 0; position: absolute;"></button><!-- 'absorbs' the auto-focus behavior -->
    <button mat-button color="primary" (click)="navToDoc()">Variables(GitHub)</button>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
</div>
<form id="variables_form" [formGroup]="variablesForm" (ngSubmit)="onSubmit()" >
  <mat-dialog-content>
      <div class="mat-table-md stats mat-typography">
        <div class="mat-header-row-md">
          <div class="mat-header-cell-md"></div>
          <div class="mat-header-cell-md"></div>
          <div class="mat-header-cell-md delete-col">Delete</div>
        </div>
        <div *ngFor="let v of variables">
          <div class="mat-row-md"
               fxLayout="row"
               [matTooltipPosition]="'above'"
               [ngClass]="{'disabled-row' : !v.enabled}"
               [matTooltip]="v.enabled? '': 'This variable does not supported by this codiusd version'">
            <div class="mat-cell-md">{{v.name}}</div>
            <div class="mat-cell-md">
              <input matInput
                     [formControlName]="v.name"
                     [placeholder]="v.value? v.value: 'Default'"
                     [disabled]="!v.enabled">
            </div>
            <mat-checkbox [formControlName]="v.name+'_checkbox'"></mat-checkbox>
          </div>
          <mat-error *ngIf="variablesForm.controls[v.name].invalid" fxLayout="row">{{getErrorMessage(v.name)}}</mat-error>
        </div>
      </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="true">Close</button>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
