@import 'variables';

.error-box {
  color: $error-red;
}
.mat-dialog-title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-card {
  padding: 12px;
}
mat-dialog-actions {
  justify-content: center;
}
mat-dialog-content {
  .mat-spinner-wrapper {
    min-height: 40px;
    width: 100%;
    button {
      width: 100%;
    }
    mat-spinner {
      margin: 0 auto;
    }
  }
}
