<!--<div fxLayout='column' fxLayoutAlign="end center">-->
  <div class="mat-typography service-state-header" fxLayout='row'>
    <div class="title-and-status" fxLayout='row'>
      <mat-icon *ngIf="service.active" class="icon-status-active">lens</mat-icon>
      <mat-icon *ngIf="!service.active" color="warn">lens</mat-icon>
      <h2 mat-dialog-title="">{{service.name}}</h2>
    </div>

    <div class="buttons" fxLayout='row'>
      <button mat-button style="height: 0; position: absolute;"></button><!-- 'absorbs' the auto-focus behavior -->
      <button mat-raised-button color="accent" (click)="start()">Start</button>
      <button mat-raised-button color="primary" (click)="stop()">Stop</button>
      <button mat-raised-button (click)="restart()">Restart</button>
      <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div fxLayout='row' class="mat-typography">
    <h4>Running: {{service.runtime}}</h4>
  </div>
  <mat-dialog-content>
    <mat-tab-group dynamicHeight [selectedIndex]="service.warning? 1 : 0 || service.error? 2 : 0">
      <mat-tab label="Command Log">
        <div class="mat-elevation-z4">
          <mat-form-field appearance="fill" class="log-field">
            <textarea matInput placeholder="Latest systemctl 'status' call log">{{service.last_log}}</textarea>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Warnings">
        <div class="mat-elevation-z4" >
          <mat-form-field appearance="fill" class="log-field">
            <textarea matInput placeholder="Latest systemctl warnings">{{service.warning}}</textarea>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Errors">
        <div class="mat-elevation-z4" >
          <mat-form-field appearance="fill" class="log-field">
            <textarea matInput placeholder="Latest systemctl warnings">{{service.error}}</textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </mat-dialog-actions>
<!--</div>-->
