@import 'variables';

.mat-dialog-title {
  margin-bottom: 0px;
}
h4 {
  margin: 0 0 20px !important;
  display: block;
  margin-bottom: 0px !important;
}
.buttons, .title-and-status {
  align-items: center;
  flex: 2;
  button {
    padding: 0 5px;
  }
}
.buttons {
  justify-content: space-between;
}

.service-state-header {
  mat-icon {
    padding-right: 5px;
  }
  justify-content: space-between;
}

@media (min-width: $breakpoint-large) {
  .title-and-status {
    flex: 4;
  }
  .buttons {
    flex: 2;
  }
}

.flex-spacer {
  flex: 1;
}

.icon-status-active {
  color: $success-green;
}

textarea {
  height: 58vh;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding: 0px;
}
mat-dialog-content {
  max-height: 73vh;
}

.log-field {
  width: 100%;
}

