<mat-card class="news-card" fxLayout="column">
  <mat-card-header>
    <mat-card-title>Update: v0.2.3</mat-card-title>
    <mat-card-subtitle>18.09.2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>- Codius variables editor</p>
    <p>- Fail2Ban installer & manager</p>
    <p>- Netstat command support</p>
    <p>- Stats from codiusd API</p>
    <p>- UI review & significant stability improvements.</p>
    <br>
    <p>To use the new functionality please update your CodiusMonitor client package</p>
    <p>"CmonitorCli Update" button is enabled if you don have the latest client version. Moreover, client automatically checks for updates and updates itself.<br> If it doesn't update automatically - please follow the installation instructions.</p>
  </mat-card-content>
</mat-card>
<mat-card class="news-card" fxLayout="column">
  <mat-card-header>
    <mat-card-title>Update: v0.1.6</mat-card-title>
    <mat-card-subtitle>10.09.2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>- Automatic CodiusMonitor client update</p>
    <p>- CodiusMonitor client installation script</p>
    <p>- Pod Upload self-test</p>
    <br>
    <p>To use the new functionality please update your CodiusMonitor client package (According to manual at /client page) </p>
    <p>For future updates - click on the "Update MonitorCli" and wait until server reloads in the table. <br>
      In upcoming updates "Update MonitorCli" button will be disabled if last version is installed.</p>
  </mat-card-content>
</mat-card>
<mat-card class="news-card" fxLayout="column">
  <mat-card-header>
    <mat-card-title>Upcoming</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>- Moneyd payment channels management</p>
    <p>- Fail2Ban installer</p>
    <p>- Fixes :)</p>
  </mat-card-content>
</mat-card>
