.log-modal-wrapper {
  height: 100%;
  .log-field {
    height: 70vh;
    textarea {
      height: 60vh;
    }
  }
  button {
    align-self: center;
  }
  .spinner-wrapper {
    height: 70vh;
    display: flex;
    justify-content: center;
    mat-spinner {
      align-self: center;
    }
  }
}

