@import 'variables';
@import "theme";

//.mat-card {
//  padding: 20px;
//}

.container {
  margin-top: 5px;
  //text-align: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 82.5%;

  .codius-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .spinner-wrapper {
      justify-content: center;
    }
  }

  mat-card-content {
    display: flex;
    align-items: center;
    flex: 2;
    margin-bottom: 0px;
    .actions, .stats, .stats-values {
      flex-direction: column;
      display: flex;
      flex: 1;
      font-size: 13px;
    }
    .mat-divider-wrapper {
      flex-direction: column;
      .divider {
        border-left:1px solid;
        border-right:1px solid;
      }
    }



    .mat-list[dense] .mat-list-item .mat-list-item-content {
      padding-left: 8px !important;
    }
    .mat-list[dense] .mat-list-item {
      height: 22px;
      font-size: 13px;
    }

    .list-item-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  mat-card-title {
    font-weight: 500;
    margin-bottom: 0px !important;
  }
  mat-card-actions {
    padding-bottom: 5px;
  }
  span{
    margin: 5px 0 5px 0;
  }
  .flex-spacer {
    //flex: 1;
  }
  .actions{
    button {
      margin: 7px 0px 7px 0px;
    }
    mat-spinner {
      align-self: center;
      margin: 7px 0px 7px 0px;
    }
  }

  mat-icon {
    @include md-icon-size(13px);
    margin: 5px 0 5px 0;
  }
}
.error-box {
  color: $error-red;
}
