<!--<div >-->
  <mat-card class="container">
    <mat-card-header class="codius-header">
      <mat-card-title>Codius: {{server.codius.version? server.codius.version: 'N/A'}}</mat-card-title>
      <div class="spinner-wrapper" *ngIf="is_updating">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
      <mat-card class="error-box" *ngIf="error_cli_update">
        <div class="mat-subheading-4">{{error_cli_update}}</div>
      </mat-card>
      <button mat-raised-button color="primary" (click)="updateCmonCli()"
              *ngIf="!is_updating && error_cli_update?.length == 0">Update MonitorCli</button>
    </mat-card-header>
    <mat-card-content>
      <div class="stats">
        <span>Memory:</span>
        <span>Pods active:</span>
        <span>Pods in 24 hr:</span>
        <span>Income in 24 hr:</span>
        <span>Fee:</span>
      </div>
      <div class="stats-values">
        <span>{{server.codius.memory.used}}/{{server.codius.memory.total}} Mb</span>
        <span>{{server.codius.pods? server.codius.pods?.length:0}}</span>
        <span>{{server.codius.count_24? server.codius.count_24: 'N/A'}}</span>
        <span>{{server.codius.income_24? server.codius.income_24: 'N/A'}} XRP</span>
        <span>{{server.codius.fee? server.codius.fee: 'N/A'}} XRP</span>
      </div>
      <div class="actions">
        <button mat-raised-button color="accent" (click)="changeFee()">Change Fee</button>
        <!--<button mat-raised-button color="accent" (click)="updateCodius()">Update</button>-->
        <button mat-raised-button color="accent" (click)="testUpload()">Upload Test</button>
      </div>
    </mat-card-content>
    <div class="flex-spacer"></div>
    <!--<mat-card-actions>-->

    <!--</mat-card-actions>-->
  </mat-card>
<!--</div>-->
