@import 'variables';
@import "theme";

//.mat-card {
//  padding: 20px;
//}

.container {
  margin-top: 5px;
  //text-align: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 82.5%;

  .codius-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .spinner-wrapper {
      justify-content: center;
    }
  }

  mat-card-content {
    display: flex;
    align-items: center;
    flex: 2;
    margin-bottom: 0px;
    .actions {
      flex-direction: column;
      display: flex;
      flex: 1;
    }
    .stats {
      display: flex;
      flex: 2;
      flex-direction: column;
      margin-right: 5px;
    }
    .data-col {
      text-align: end;
    }
  }
  mat-card-title {
    font-weight: 500;
    margin-bottom: 0px !important;
  }
  mat-card-actions {
    padding-bottom: 5px;
  }
  span{
    margin: 5px 0 5px 0;
  }
  .flex-spacer {
    //flex: 1;
  }
  .actions{
    button {
      margin: 7px 0px 7px 0px;
    }
    mat-spinner {
      align-self: center;
      margin: 7px 0px 7px 0px;
    }
  }
}
.error-box {
  color: $error-red;
}

.mat-table-sm {
  display: block;
  .mat-row-sm,
  .mat-header-row-sm {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $grey-background-stronger;
    align-items: center;
    min-height: 18px;
    padding: 0 5px;
  }

  .mat-cell-sm,
  .mat-header-cell-sm {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 13px;

    .test-success {
      color: $success-green;
    }
    mat-icon {
      @include md-icon-size(13px);
      margin: 5px 0 5px 0;
    }
  }
}
