@import 'variables';


.login-container {
  height: 100vh;
}
h2 {
  width: 100%;
}
mat-card-header {
  text-align: center;
}


mat-card-actions {
  a, button {
    margin: 0 7px 0 7px;
  }
}
.error-box {
  color: $error-red;
}
