<mat-card>
  <mat-card-content>
      <div class="mat-subheading-2 text-content">Contact:</div>
      <div class="mat-body-1">Regarding any questions / offers or technical difficulities please contact:</div>
      <div class="mat-body-1">contact@support.codiusmonitor.com </div>
      <div class="mat-subheading-2 text-content">Donate:</div>
      <div class="mat-body-1">Donations are highly appreciated as this project require quite a lot of maintainance ;)</div>
      <div class="mat-body-1">XRP: rUp1FaAnh6M91dWS6SvQapX1xa2Hdr1EyH</div>
  </mat-card-content>
</mat-card>
